# Types and Sequences

In [3]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [11]:
x = [1, 'a', 2, 'b']
type(x)

list

In [12]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [13]:
for item in x:
    print(item)

1
a
2
b
3.3

In [15]:
i = 0
while (i != len(x)):
    print(x[i]) 
    i = i + 1

1
a
2
b
3.3

In [16]:
x = "Dr. Christopher Brooks"

In [18]:
len(x)

22

In [26]:
x[4:15]

'Christopher'

In [28]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [35]:
firstname = "Christopher Arthur Hansen Brooks".split(" ")[0]
print(firstname)
lastname = "Christopher Arthur Hansen Brooks".split(' ')[-1]
print(lastname)

Christopher
Brooks

In [37]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [38]:
x['Kevyn Collins-Thompson'] = None

In [45]:
for name, email in x.items(): 
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [47]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [49]:
print(fname)

Christopher

# More on Strings

In [51]:
sales_record = {'price': 3.24,
                'num_items':4,
                'person':'Chris' }

sales_statement = "{} bought {} item(s) at a price of {} each for a total cost of {}"

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total cost of 12.96

# Question: Using Lambas

Convert this function into a lambda:

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person:???))

#option 2
#list(map(split_title_and_name, people)) == list(map(???))