# Assignment 2
For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [43]:
import pandas as pd

def proportion_of_education():
    # returns: 
        # proportion of children who:
        # had a mother with education equal to
        # less than high school
        # high school
        # more than high school but not college
        # college
    raise NotImplementedError()

In [52]:
df = pd.read_csv("NISPUF17.csv").set_index(['SEQNUMHH', 'SEQNUMC'])
df = df.drop(columns='Unnamed: 0').sort_index()

df.head(10)

,,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,BF_ENDR06,BF_EXCLR06,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
SEQNUMHH,SEQNUMC,,,,,,,,,,,,,,,,,,,,,
1,11,2,NaN,3319.369182,1068,2017,NaN,2,1,NaN,121.7500,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21,1,270.472364,139.586064,2077,2017,NaN,2,3,426.1250,152.1875,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
3,31,1,92.936488,57.053306,2075,2017,NaN,2,3,NaN,NaN,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,41,2,NaN,55.987916,2074,2017,NaN,2,1,NaN,182.6250,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,51,1,665.921085,243.711203,1018,2017,NaN,2,1,NaN,213.0625,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
6,61,1,28.788477,15.505810,2065,2017,NaN,2,1,334.8125,91.3125,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
7,71,2,NaN,170.724996,2036,2017,NaN,2,3,182.6250,273.9000,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,81,1,212.177386,72.992796,2028,2017,4.0,1,3,182.6250,91.3125,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
9,91,2,NaN,64.128642,2049,2017,NaN,2,2,182.6250,91.3125,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,101,1,338.447674,179.572104,2068,2017,NaN,2,3,365.2500,121.7500,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0

In [130]:
def proportion_of_education():
    # get total sum of children
    total_children = len(df.index)

    # series of mother's education 
    mother_educ = df['EDUC1']
    
    # ed_index
    ed_index = ["high school", "more than high school but not college","college","less than high school"]
    
    # get list of education levels
    educ_levels = pd.Series(df['EDUC1'].unique(),index=ed_index).sort_values()
    
    answer = {}

    for index, value in educ_levels.iteritems():
        proportion = len(mother_educ[(mother_educ == value)])/total_children
        answer[index] = value
    return(answer)


#less_than_hs = len(mother_educ[(mother_educ == 1)])/total_children 
#hs_deg = len(mother_educ[(mother_educ == 2)])/total_children 
#less_than_col = len(mother_educ[(mother_educ == 3)])/total_children
# college_deg = len(mother_educ[(mother_educ == 4)])/total_children

#result = {"less than high school":less_than_hs,
   # "high school":hs_deg,
    #"more than high school but not college":less_than_col,
    #"college":college_deg}
#return(result)

In [131]:
proportion_of_education()

0.10202002459160373
0.172352011241876
0.24588090637625154
0.47974705779026877

In [ ]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."